.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;

  border: none;
  border-radius: 12px;
  background-color: #111111;
  color: #ffffff;

  padding: 12px;
  transition: background-color 0.2s ease;
}

/* Default (medium) */
.medium {
  width: 335px;
  height: 48px;
  font-size: 16px;
}

/* Small */
.small {
  width: 154px;
  height: 48px;
  font-size: 16px;
}

/* Large */
.large {
  width: 335px;
  height: 60px;
  font-size: 24px;
}

/* Hover & Active */
.button:hover,
.button:active {
  background-color: #111111cc;
}

.button:focus {
  outline: none;
}

.loading {
  opacity: 0.5;
  cursor: not-allowed;
}
