.header {
  width: 100%;
  height: var(--header-height);
  padding: 17px 0;

  text-align: center;
  font-size: 15px;
  font-weight: 500;

  color: #000;

  position: relative;
}

.whiteHeader {
  color: #fff;
}

.header button {
  position: absolute;
  right: 12px;
  top: 15px;
  cursor: help;
}
